--- !config.SeiscloudConfig
project_dir: ./seiscloud_example_project
catalog_fn: ../examples/globalcmt.nchile.pf
dbscan_eps: 0.10
dbscan_nmin: 20
sw_simmat: false
metric: kagan_angle
sim_mat_fn: simmat.npy
sim_mat_type: binary
weight_mnn: 1.0
weight_mee: 1.0
weight_mdd: 1.0
weight_mne: 1.0
weight_mnd: 1.0
weight_med: 1.0
tmin: '2000-01-01 00:00:00.000'
tmax: '2018-01-01 00:00:00.000'
time_window: 10.0
latmin: 0.0
latmax: 1.0
lonmin: 0.0
lonmax: 1.0
depthmin: 0.0
depthmax: 700000.0
magmin: 0.0
magmax: 10.0
euclidean_max: 1000000.0
intertime_max: 86400.0
figure_format: png
map_radius: 450000.0
sw_findcenters: false
sw_filterevent: false
sw_cumulus: false
sw_include_edge: false
